.nav {
  z-index: 10;
  top: 0;
  position: sticky;
  width: 100%;
  background-color: #fff;
}

.HeaderBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
  align-items: center;
  gap: 10px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
}

.ImgDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 76px;
}
.ImgDiv img {
  width: 132px;
  height: 47px;
}

.BtnDiv button {
  padding: 16px !important;
  font-family: IBM Plex Sans !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 16px !important;
  letter-spacing: 0.02em !important;
  background: #cb202d !important;
  border-radius: 6px !important;
  border: 1px solid #cb202d;
  color: #fff;
  transition: all 0.3s ease-in;
}

.menu_btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /* border: 3px solid #fff; */
}
.menu_btn__burger {
  width: 40px;
  height: 4px;
  background: #000;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu_btn__burger::before,
.menu_btn__burger::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 4px;
  background: #000;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu_btn__burger::before {
  transform: translateY(-16px);
}
.menu_btn__burger::after {
  transform: translateY(16px);
}
/* ANIMATION */
.menu_btn.open .menu_btn__burger {
  transform: translateX(-40px);
  background: transparent;
  box-shadow: none;
}
.menu_btn.open .menu_btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu_btn.open .menu_btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.para {
  display: none;
}

.hamBurger {
  display: block;
}

@media only screen and (max-width: 600px) {
  .HeaderBar {
    flex-direction: column;
    align-items: flex-start;
  }
  .ImgDiv {
    width: 100%;
  }
  .para {
    display: flex;
  }
  .hamBurger {
    display: none;
  }
}
