.goals {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  height: 100vh;
  justify-content: space-around;
}

.goals > div {
  width: 45%;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .goals {
    flex-direction: column;
    margin-top: 100px;
  }
  .goals > div {
    width: 100%;
    margin-top: 20px;
  }
}
